#footer {
    display: flex;
    position: relative;
    padding: 1.5rem;
    gap: 2rem;
    margin-left: 3vw;
    justify-content: center;
    align-items: center;
    /* top: 2.5vh; */
    flex-wrap: wrap;
}

#footer span:hover {
    color: black;
}


li:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

li:hover~li p {
    animation: wave-animation 0.3s infinite;
}